
.body {
    -fx-background-color: gray;
}

.vButtonBox {
    -fx-background-color: #595959;
}

/* styles.css */
.custom-button {
    -fx-font-size: 14pt;
    -fx-background-color: #ffbe00;
    -fx-text-fill: #000000;
    -fx-max-width: 200px;
    -fx-border-color: black;
    -fx-border-width: 2px;
}

/* styles.css */
.vButtonBox {
    -fx-padding: 10px;
}

.label {
    -fx-font-size: 14pt;
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-max-width: 200px;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-padding: 10px;
}

.specialCardBoxes {
    -fx-font-size: 14pt;
    -fx-background-color: gray;
    -fx-text-fill: #000000;
    -fx-min-width: 333px;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-padding: 10px;
}